@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Itim&display=swap');

body {
  background-color: #f0f0f0;
  color: #555;
  font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Itim', cursive;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
}